<div id="profileheader">
  <h1>
    <%= @user.username %>'s Followers
  </h1>
  <p>
    Your Followers
  </p>
</div>
<div id="feed">
  <h2>FOLLOWERS</h2>
    <hr id="homehr">
      <table border="1">
       <% @user.following.each do |followee_id| %>
        <tr>
          <td><a href="/sessions/<%= followee_id %>/profile"><%= User.find(followee_id).username %></td>
          <td><%= User.find(followee_id).tweets.last.content %></td>
          <td><%= User.find(followee_id).tweets.last.created_at %></td>
        </tr>
       <% end %>
      </table>
</div>
